<div class="projects-component">
  <h4>Projects</h4>
  <div class="project-container-grid">
    <div *ngFor="let project of projects.slice(0,maxProjectsPerPage)" class="project">
      <div class="card">
        <div class="img-holder front">
          <img src="assets/images/{{project.imageName}}">
        </div>
        <div class="description back" >
          <p class="description-text">{{project.description}}</p>
        </div>
      </div>
      <h5>{{project.header}}</h5>
    </div>
  </div>
  <div class="space-between">
    <button *ngIf="projects.length > maxProjectsPerPage" class="light-button" id="load-more-projects"
      (click)="showMoreProjects()">More</button>
      <button *ngIf="projects.length <= maxProjectsPerPage" class="light-button" id="load-more-projects"
        (click)="showLessProjects()">Less</button>
    <button disabled class="dark-button">Add project</button>
  </div>
</div>