@import "src/sass/helper/variables";
@import "src/sass/helper/mixins";
@import "src/sass/helper/placeholders";

.projects-component {
	@extend %component;
	h4 {
		margin-bottom: 25px;
	}
	.project-container-grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);
        @media screen and (max-width: $lgSize) {
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(3, 1fr);
        }
        @media screen and (max-width: $smSize) {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(6, 1fr);
        }
		.project {
			margin-bottom: 30px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
            @media screen and (max-width: $lgSize) {
				align-items: center;
            }
			.card {
				margin-bottom: 15px;
				.img-holder {
					img {
						@extend %project-card-content;
					}
				}
				.description {
					@extend %project-card-content;
					justify-content: center;
					align-items: center;
					p {
						padding: 10px;
					}
				}
			}
		}
	}
}