<div class="projects-component">
  <h4>Projects</h4>
  <div class="project-container-grid">
    <div class="project">
      <div class="card">
        <div class="img-holder" hidden>
          <img src="assets/images/project-min.png">
        </div>
        <div class="description" >
          <p>Dome description goes here blah-blah-blah</p>
        </div>
      </div>
      <h5>Project 1</h5>
    </div>
    <div class="project">
      <div class="card">
        <div class="img-holder">
          <img src="assets/images/project-min.png">
        </div>
        <div class="description" hidden>
          <p>Dome description goes here blah-blah-blah</p>
        </div>
      </div>
      <h5>Project 2</h5>
    </div>
    <div class="project">
      <div class="card">
        <div class="img-holder">
          <img src="assets/images/project-min.png">
        </div>
        <div class="description" hidden>
          <p>Dome description goes here blah-blah-blah</p>
        </div>
      </div>
      <h5>Project 3</h5>
    </div>
    <div class="project">
      <div class="card">
        <div class="img-holder">
          <img src="assets/images/project-min.png">
        </div>
        <div class="description" hidden>
          <p>Dome description goes here blah-blah-blah</p>
        </div>
      </div>
      <h5>Project 4</h5>
    </div>
    <div class="project">
      <div class="card">
        <div class="img-holder">
          <img src="assets/images/project-min.png">
        </div>
        <div class="description" hidden>
          <p>Dome description goes here blah-blah-blah</p>
        </div>
      </div>
      <h5>Project 5</h5>
    </div>
    <div class="project">
      <div class="card">
        <div class="img-holder">
          <img src="assets/images/project-min.png">
        </div>
        <div class="description" hidden>
          <p>Dome description goes here blah-blah-blah</p>
        </div>
      </div>
      <h5>Project 6</h5>
    </div>
  </div>
  <div class="space-between">
    <button class="light-button" id="load-more-projects">More</button>
    <button class="dark-button">Add project</button>
  </div>
</div>