@import "../helper/variables";
@import "../helper/placeholders";



.personal-info-component {
	@extend %component;

	.data-entry {
		margin-bottom: 10px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	.content {
		display: flex;
		justify-content: space-between;
		.text-content {
			width: 40%;
			h4 {
				margin-bottom: 40px;
			}
		}
		.image-content {
			padding: 5px;
			padding-bottom: 15px;
			.img-holder {
				margin-right: 10px;
				img {
					@include size($userImgWidth,$userImgHeight);
				}
			}
		}
	}

	.external-edu-skills {
		display: none;
	}
	.float-right {
		margin-top: 10px;
	}
}

.subjects-component {
	@extend %component;
	h4 {
		margin-bottom: 35px;
	}
	.search-parameters {
		@extend .space-between;
		min-width: 60%;
		.optional-line {
			display: inline-flex;
			>* {
				margin-right: 15px;
			}
			input[type="text"]{
				width: 200px;
			}
			.sm-show {
				//display: none;
			}
		}
	}
	.search-result {
		display: flex;
		flex-direction: column;
		table {
			width: 100%;
			border-collapse: collapse;
			margin-top: 25px;
			margin-bottom: 15px;
			th, td {
				text-align: center;
				border: $table-border;
				padding-top: 3px;
				padding-bottom: 3px;
				&.left-justified-text {

					padding-left: 10px;
				}
			}
			tr.summary {
				th, td {
					border: none;
					padding-top: 10px;
					&:first-child {
						text-align: right;
						padding-right: 10px;
						font-weight: bold;
					}
				}
			}
		}
		
		.pagination {
			text-align: center;
			a {
				padding-left: 2px;
				padding-right: 2px;
			}
		}
	}
}

.projects-component {
	@extend %component;
	h4 {
		margin-bottom: 25px;
	}
	.project-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		.project {
			display: flex;
			flex-direction: column;
			//width: 33.33333333% auto;
			margin-bottom: 30px;
			padding-right: 40px;
			.card {
				margin-bottom: 15px;
				.img-holder {
					img {
						@include size($projectThumbWidth, $projectThumbHeight);
					}
				}
			}
		}
	}
}