<div class="subjects-component">
  <h4>Subjects</h4>
  <form class="space-between">
    <div class="search-parameters">
      <div class="optional-line">
        <input type="text" name="subject" placeholder="Type subject name..."
        [(ngModel)]="searchableSubject.name" />
        <select>
          <option selected="true" (click)="searchableSubject.teacher = undefined">All teachers</option>
          <option *ngFor="let teacher of teachers"
          (click)="searchableSubject.teacher = teacher">{{teacher}}</option>
        </select>
      </div>
      <div class="optional-line">
        <p class="sm-show">Choose test type:</p>
        <div class="radio-group">
          <label (click)="searchableSubject.testType = undefined">
            <input type="radio" name="testType" value="all">All</label>
          <label *ngFor="let testType of testTypeValues"
          (click)="searchableSubject.testType = testType">
            <input type="radio" name="testType" value="{{testType | lowercase}}">{{testType}}
          </label>
        </div>
      </div>
    </div>
    <input type="submit" value="Search" class="dark-button"
    (click) = "doSearch()">
  </form>
  <div class="search-result">
    <table>
      <thead>
        <tr>
          <th>№</th>
          <th class="left-justified-text">Subject</th>
          <th class="left-justified-text">Teacher</th>
          <th>Test type</th>
          <th>Academic hours</th>
          <th>Mark</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let subject of subjects|filter:searchableSubject|page:currentPage:pageMaxSize">
          <td>{{subject.subjectId}}</td>
          <td class="left-justified-text">{{subject.name}}</td>
          <td class="left-justified-text">{{subject.teacher}}</td>
          <td>{{subject.testType}}</td>
          <td>{{subject.academicHours}}</td>
          <td>{{subject.mark}}</td>
        </tr>
        <tr class="summary">
          <td colspan="5">Average mark:</td>
          <td>
            {{subjectsPaginationService.calculateAverageMark(subjects|filter:searchableSubject) |number}}
          </td>
        </tr>
      </tbody>
    </table>
    <div class="pagination">
      <span class="paginationButton"
      *ngFor="let pageInfo of subjectsPaginationService
          .getReachablePagesInfo(currentPage, pageMaxSize, subjects|filter:searchableSubject)"
      [ngClass]="{active: currentPage !== pageInfo.pageNumber}"
      (click)="currentPage = pageInfo.pageNumber;">
      {{pageInfo.presentation}}
      </span>
    </div>
  </div>
</div>
