<form name="form" (ngSubmit)="login()" #f novalidate>
  <div [ngClass]="{ 'has-error': f.submitted}">
      <label for="username">Username</label>
      <input type="text"
        name="username" id="username" [(ngModel)]="credentials.username" />
  </div>
  <div [ngClass]="{ 'has-error': f.submitted}">
      <label for="password">Password</label>
      <input type="password"
        name="password" id="password" [(ngModel)]="credentials.password" />
      <div *ngIf="f.submitted">Password is required</div>
  </div>
  <div>
      <button>Login</button>
  </div>
</form>