<header>
	<app-logo></app-logo>
	<div *ngIf="authService.isLoggedIn() && authenticatedsUser; else anonGreeting" class="user-greetings">
		<p>Welcome, {{authenticatedsUser.surname}} {{authenticatedsUser.name}}!</p>
		<div class="img-holder">
			<img src="getUserAvatarUrl(authenticatedsUser.login)" alt="User Avatar">
		</div>
		<button class="logout-button" (click)="logOut()">Log out</button>
	</div>
	<ng-template #anonGreeting>
		<div class="user-greetings">
			<p>Welcome, Anonimous person!</p>
			<button class="logout-button" (click)="logIn()">Log in</button>
		</div>
	</ng-template>
</header>