<div class="data-entry">
    <p>
      {{key+keyDelim}}
      <span *ngIf="editMode" class="clickable" (click)="onAddElement()"> +</span>
    </p>
    <div class="data-map">
        <app-data-entry  *ngFor="let tupleControl of mapValueControls; let index = i"
          [keyControl]="tupleControl.at(0)" keyDelim="" [valueControl]="tupleControl.at(1)" [editMode]="editMode"
          cancellable="true" (cancelled)="mapValueControls.splice(i, 1);">
        </app-data-entry>
    </div>
</div>