@mixin size($width, $height) {
	width: $width;
	height: $height;
}

@mixin buttonColors($backgroundColor, $textColor,
		$hoverBackgroundColor, $hoverTextColor) {
	background-color: $backgroundColor;
	border-color: $backgroundColor;
	color: $textColor;
	&:hover[disabled=false] {
		background-color: $hoverBackgroundColor;
		color: $hoverTextColor;
	}
}


@mixin transform($transformation) {
	transform: $transformation;
	-webkit-transform: $transformation;
	-moz-transform: $transformation;
	-ms-transform: $transformation;
	-o-transform: $transformation;  
  }
  
  @mixin backface-visibility($visibility: hidden) {
	backface-visibility: $visibility;
	-webkit-backface-visibility: $visibility;
	-moz-backface-visibility: $visibility;
	-ms-backface-visibility: $visibility;
	-o-backface-visibility: $visibility;
  }
  
  @mixin transform-style($style){
	 transform-style: $style;
	-moz-transform-style: $style;
	-o-transform-style: $style;
	-ms-transform-style: $style;
	-webkit-transform-style: $style;
  }
  @mixin transition($time){
	transition: $time;
	-webkit-transition: $time;
	-moz-transition: $time;
	-o-transition: $time;
  }