@mixin size($width, $height) {
	width: $width;
	height: $height;
}

@mixin buttonColors($backgroundColor, $textColor,
		$hoverBackgroundColor, $hoverTextColor) {
	background-color: $backgroundColor;
	border-color: $backgroundColor;
	color: $textColor;
	&:hover {
		background-color: $hoverBackgroundColor;
		color: $hoverTextColor;
	}
}