%main-container {
	padding-left: 3%;
	padding-right: 3%;
}

%component {
	padding: 4%;
	background-color: $componentColor;
	margin-bottom: 4%;
}

%space-between {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

%float-right {
	display: flex;
	justify-content: flex-end;
}
%left-justified-text {
	text-align: left;
}

%popup {
	padding: 2% 2% 3% 4%;
	background-color: $componentColor;
	&:last-child {
		margin-bottom: 0;
	}
}

%button {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
	min-width: 120px;
	font-size: $buttonFontSize;
	border-radius: 5px;
}

%large-button {
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 15px;
	padding-right: 15px;
	min-width: 110px;
	font-size: $largeButtonFontSize;
	border-radius: 6px;
}

%tiny-button {
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: $buttonFontSize;
}

%project-card-content {
	@include size($projectThumbWidth, $projectThumbHeight);
	border: 1px solid $footerColor;
	border-radius: 3px;
}