@import "src/sass/helper/variables";
@import "src/sass/helper/mixins";
@import "src/sass/helper/placeholders";

footer {
	@extend %space-between;
	@extend %main-container;
	background-color: $footerColor;
	.footer-links {
		a {
			padding-left: 10px;
			padding-right: 10px;
			color: $footerLinksColor;
			&:hover {
				color: darken($footerLinksColor, 15%);
			}
		}
	}
}